.sidebar {
    height: 100%;
    width: 150px;
    list-style-type: none;
    background-color: #f3f4f5;
    z-index: 100;
    position: fixed;
    padding-top: 50px;
    margin: 0;
}

.art {
    background-color: green;
    width: 100%;
}


.pic2 {
    background-color: yellow;
}

.pic3 {
    background-color: red;
}

img.art-grid {
    width: 16em;
    margin: 0;
    padding: 0;
    /*padding: 0.3em 0.2em;*/
}

img.main {
    width: 100%;
}