
.job {
    font-family: 'Source Sans Pro', sans-serif;
    width: 600px;
}

.job-title {
    font-size: 20;
    font-weight: 600;
}

.job-timeframe {
    color: #424242;
    font-style: italic;
    font-size: 15;
}

.job-bullet-point {
    font-weight: 800;
    color: #FF8000;
    width: 15px;
    height: 30px;
    float: left;
    padding-right: 10px;
}

.job-description {
    color: #6E6E6E;
    font-size: 14;
}