{% extends 'master.html' %}
{% block body %}

	<h1>Ingrid Avenda&ntilde;o</h1>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-jellyfish.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-night-rocket.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-hairpolice.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-sorting.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-octopus-tunnel.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-glowing-flower.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-harlem-shake.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-tree-branches.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-clay-monster.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-3D-domes.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-hot-knit-colors.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>
	<div class="view fade-dark">
		<img src="/static/img/ingridavendano-alu-circuit.jpg">
		<div class="mask">
			<a href="#" class="info" title="Full Image">TEST</a>
		</div>
	</div>



{% endblock %}
