{% extends 'master.html' %}
{% block body %}

	<h1>Ingrid Avenda&ntilde;o</h1>
	<img src="/static/img/ingridavendano-jellyfish.jpg">
    <img src="/static/img/ingridavendano-night-rocket.jpg">
    <img src="/static/img/ingridavendano-harlem-shake.jpg">
    <img src="/static/img/ingridavendano-sorting.jpg">
    <img src="/static/img/ingridavendano-octopus-tunnel.jpg">
    <img src="/static/img/ingridavendano-glowing-flower.jpg">
    <img src="/static/img/ingridavendano-tree-branches.jpg">
    <img src="/static/img/ingridavendano-clay-monster.jpg">
    <img src="/static/img/ingridavendano-3D-domes.jpg">
    <img src="/static/img/ingridavendano-hot-knit-colors.jpg">
    <img src="/static/img/ingridavendano-uncle.jpg">
    <img src="/static/img/ingridavendano-alu-circuit.jpg">
    <img src="/static/img/ingridavendano-smear-pixel-paint.jpg">
    <img src="/static/img/ingridavendano-skeleton.jpg">
    <img src="/static/img/ingridavendano-blue-fish.jpg">
    <img src="/static/img/ingridavendano-octopus-fight.jpg">
    <img src="/static/img/ingridavendano-hairpolice.jpg">
    <img src="/static/img/ingridavendano-blue-green-paint.jpg">
    <img src="/static/img/ingridavendano-yellow-objects.jpg">
    <img src="/static/img/ingridavendano-silhouette.jpg">
    <img src="/static/img/ingridavendano-pink-drawing.jpg">
{% endblock %}
