{% extends 'master.html' %}
{% block body %}
<!-- 	<ul class="sidebar hide-on-tablets">
		<li>about</li>
		<li>projects</li>
		<li>blog</li>
		<li>resume</li>
		<li>contact</li>
	</ul> -->
<img src="static/img/hairpolice.jpg" class="main">
<img src="static/img/ingridavendano-rocket.png" class="col-md-4 art-grid">
<img src="static/img/ingridavendano-rocket.png" class="col-md-4 art-grid">
<img src="static/img/ingridavendano-rocket.png" class="col-md-4 art-grid">
<img src="static/img/ingridavendano-rocket.png" class="col-md-4 art-grid">
<!-- <img src="static/img/ingridavendano-rocket.png" class="col-md-4 art-grid">
<img src="static/img/ingridavendano-rocket.png" class="art-grid">
<img src="static/img/ingridavendano-rocket.png" class="art-grid"> -->

<!-- <h3>about</h3>
<p>Hi there! I'm Ingrid!</p>
<p>Software engineer at <a href="https://www.uber.com/cities">Uber</a></p>
<p>Venezuelan-American</p>
<p>Electrical Engineer</p>
<p>Artist</p>
 -->



{% endblock %}
