<html>
    <head>
        <title>Ingrid Avenda&ntilde;o</title>
        
        <!-- Bootstrap and Slider CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <!-- Source Sans Font -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/resume.css">


        <!-- jQuery -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-migrate.min.js"></script>

        <!-- Bootstrap JavaScript -->
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Extending other HTML files -->
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <!-- Credits -->
        <footer>
            &copy; Ingrid Avenda&ntilde;o 2013
        </footer>
    </body>
</html>
