{% extends 'master.html' %}
{% block body %}
    <div class="job">
        <h1>Ingrid Avenda&ntilde;o</h1>

        <p>
            <div class="job-title">
                Software Engineering Fellow, <a href="http://www.hackbrightacademy.com/">Hackbright Academy</a>
            </div>
            <div class="job-timeframe">
                San Francisco, CA | September - December 2013
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Attended a 10-week accelerated software development program designed to learn fundamentals in computer science and modern web development.
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Created a web application called <a href="http://www.logiclayout.com/">Logic Layout</a> that compiled digital logic expressions into an interactive circuit schematic. Wrote a compiler in Python and used HTML5 Canvas and <a href="http://paperjs.org/">PaperJS</a> vector library.
            </div>
        </p>
        <p>
            <div class="job-title">
                Acoustic Engineering Intern, <a href="https://jawbone.com/">Jawbone</a>
            </div>
            <div class="job-timeframe">
                Sunnyvale, CA | February - August 2013
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Supporting research and development by designing and building creative prototypes of acoustic systems for demonstrating and testing.
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                 Implementing protocols for measuring and analyzing the acoustic performance using SoundCheck, and simulating different circuitry models in PSpice.
            </div>
        </p>
        <p>
            <div class="job-title">
                Fellow, <a href="http://code2040.org/">CODE2040</a> 
            </div>
            <div class="job-timeframe">
                San Francisco, CA | June - August 2013
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Participated in a professional development summer program for black and Latino/a college students that emphasized on entrepreneurship.
            </div>
        </p>
        <p>
            <div class="job-title">
                Undergrad Research Assistant, <a href="http://www.cmu.edu/">Carnegie Mellon University</a>
            </div>
            <div class="job-timeframe">
                Pittsburgh, PA | January 2013 - May 2013
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Working on the industrial design of a robot that is able to scan and analyze shelves of inventory in retail store for the AndyVision project in partner with Intel’s Science and Technology Center for Embedded Systems.
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Creating concept designs of the robot’s exterior to be both functional and aesthetically pleasing, and building 3D models in Creo Parametric of sensors and the robot’s skeleton.
            </div>
        </p>
        <p>
            <div class="job-title">
                Technical Undergrad Intern, <a href="http://www.intel.com/">Intel Corporation</a>
            </div>
            <div class="job-timeframe">
                Chandler, AZ | June - December 2012
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Analyzed techniques for developing 3D models of Intel’s latest fabrication plant under construction with various methods of scanning.            
            </div>
            <div class="job-bullet-point">></div>
            <div class="job-description">
                Automated the flow of building information modeling (BIM) data to end-users by designing a user-friendly platform to share data.
            </div>
        </p>
        <p>
            <div class="job-title">
                Lab Technician, <a href="http://www.engineering.pitt.edu/ECE/">ECE Department</a> - <a href="http://www.pitt.edu/">University of Pittsburgh</a>
            </div>
            <div class="job-timeframe">
                Pittsburgh, PA | September 2011 - May 2012
            </div>
        </p>
        <p>
            <div class="job-title">
                Undergrad Research Assistant, <a href="http://www.pitt.edu/">University of Pittsburgh</a>
            </div>
            <div class="job-timeframe">
                Pittsburgh, PA | May - August 2011
            </div>
        </p>
    </div>

{% endblock %}
